<h1>My Tasks</h1>

<ul style="list-style-type:none;">
  <% @tasks.each do |task| %>
  <h4><li><input type="checkbox"><%= link_to task.title.capitalize, task_path(task) %></li></h4>
  <% end %>
</ul>

<%= link_to "Create a new task", new_task_path %>
